body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background: linear-gradient(to bottom, #FFFFFF 0, #FFFFFF 40%, #CDDCDC 5%);  
    justify-content: center;  
}

.containerHome {
   display: flex;
   flex-direction: column; 
   justify-content: center;     
   align-items: center; 
}

.help {
    display: flex;
    background-color: rgba(244, 244, 244, 1);
    width: 422px;
    height: 41px;
    border-radius: 9px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 42vh;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.helpInput {
    flex: 1;
    width: 100%;
    border: 0;
    outline: none;
    padding: 10px;
    background-color: transparent;
}

.notSupportContainer {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 10px;
}

.stopButton {
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    background-color: rgb(151, 9, 9);
}

.stopButton:hover{
    background-color: rgb(208, 14, 14);
}

.mic{
    display: flex;
    padding: 20px;
    cursor: pointer;    
}

.micButton {
    width: 156px;
    height: 156px;
}

.centralHelp {
    display: flex;
    width: 90vw;
    justify-content: flex-end;
    background-color: transparent; 
}

.helpButton {
    width: 42px;
    height: 42px;
    border-radius: 40px;
    background: #1ABBBB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: 0;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
}






